## Build artifacts
bin/
obj/
[Bb]in/
[Oo]bj/

## User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user

## Visual Studio
.vs/
.vscode/
.idea

## MAUI generated resources
Resources/*.designer.cs
**/*.xaml.g.cs
**/*.xaml.cs~RF*

## Android build artifacts
*.apk
*.aab
*.ap_
*.dex
*.class
*.o
*.so
*.keystore
.android/
.androidlib/
**/AndroidManifest.xml.cache

## iOS / MacCatalyst build artifacts
*.app
*.ipa
*.xcarchive
*.dsym
*.plist.user
*.mode1v3
*.mode2v3
*.pbxuser
*.xcuserdata/
*.xcworkspace/

# Xcode build
build/
DerivedData/

## Generated intermediate resources
**/obj/Debug/
**/obj/Release/

## NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
project.lock.json

## Logs
*.log

## OS crap
Thumbs.db
ehthumbs.db
.DS_Store
